// Override existing variables and add new ones
@import "variables";

// Include all of Ionic
@import "lib/ionic/ionic";

// Include Bourbon, a simple and lightweight mixin library
// Run `gem install bourbon` and `bourbon install`
@import "lib/bourbon/bourbon";

// Custom theme for Ionic
@import "theme";


/* Index view */

#logs {
  // This view should always be below the others, even during transitions
  // Improves the reverse transition from the show view to the index view
  z-index: 1;

  // The view background is dark, but the content is light
  // and add rounded edges to the screen
  background-color: black;

  .scroll-content {
    background-color: white;
    border-radius: 4px 4px 0 0;

    // Keep border-radius when the user drags the list
    // (more info: http://stackoverflow.com/a/23735445/543293)
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

    // TODO This should only be done for iOS7.
    // Using the .platform-ios7 class causes flickering
    margin-top: 20px;
  }

  // The pull to add new button
  .scroll-refresher .ionic-refresher-content {
    .text-refreshing, .text-pulling {
      font-size: 32px;
    }
  }
  .scroll-refresher {
    top: -75px;
    left: 68px;
  }

  .list {
    margin-top: 20px;
  }
  .item {
    border: none;
    font-size: 32px;
    line-height: 45px;
  }
  .item-complex.item-icon-left .item-content {
    padding-left: 70px;
    -webkit-transition: background 150ms !important;
    box-shadow: 0 0 40px white;

    &:active {
      // Improves the responsiveness when the user taps (instead of using .activated)
      background: $base2;
    }
  }
  .item-options {
    min-width: 120px;
    text-align: right;
  }
  .item-options .button {
    max-height: initial;
  }
  .scroll-refresher .ionic-refresher-content,
  .bar .title {
    text-align: left;
  }
  .item-icon-left .dot {
    top: 2px; // Since everything is lowercase, it looks better this way
    left: 30px;
  }
}


/* Show view */

#log {
  // This view must be above the index view, even during transitions
  z-index: 2;

  .bar {
    top: 40px;
    left: 20px;
    background: transparent;
    border: transparent;
  }
  .bar .title + .button:last-child {
    // Replace the close icon
    right: 40px;
  }
  .bar .title {
    font-size: 26px;
    text-align: left;
  }
  .has-header {
    top: 0;
    padding-top: 120px;
  }
  .row {
    // Fixes a strange mismatch between the right and left on the iPhone
    // It may be related to the width being fluid (percentage)
    padding: 0 4px 5px 4px;
  }
  .scroll-content {
    // Keep the calendar above the header
    z-index: 1000;

    // Disable click events in order to be able to click the close icon
    pointer-events: none;
  }
  .scroll {
    // Restore click events, only in the calendar
    pointer-events: auto;
  }
}


/* New view */

#new-log {
  &, .bar-header {
    background: #eee;
  }
  .bar-header {
    border-bottom: 1px solid #ddd;
  }

  // Move the rounded edges to below the status bar
  .platform-ios7 & {
    top: 20px;
    .bar-header {
      top: -20px;
    }
    .scroll-content {
      top: 44px;
    }
  }

  // Add rounded edges to the modal
  border-radius: 4px 4px 0 0;

  // Keep border-radius when the user drags the list
  // (more info: http://stackoverflow.com/a/23735445/543293)
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

  .title, .button {
    padding-top: 1px; // Improve alignment (optional)
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-smoothing(antialiased);
  }
  input {
    font-size: 32px;
    line-height: 36px;
    height: auto;
    background: transparent;
  }
  .placeholder-icon {
    font-size: 23px;
  }
  .item-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .item, .item input {
    padding-left: 13px;
  }
  .item-divider {
    padding-left: 52px;
    font-weight: normal;
    color: #ccc;
    letter-spacing: 0;
  }
  .item-radio {
    .item-content {
      padding-left: 37px;
      padding-right: 0;
    }
    .item-content,
    .item-radio input:checked ~ .item-content {
      background: transparent;
    }
    .radio-icon {
      // Display icon on the left instead of the right (default)
      left: 0;
    }
    .row {
      padding: 3px;

      // Disable click events in order to be able to click the close icon
      pointer-events: none;
    }
  }
  .color {
    height: 37px;
  }
  .scroll {
    // Minor improvement for the iPhone 5 screen (optional)
    padding-top: 2px;
  }
}


/* Calendar component */

.day {
  // Make the cells square
  height: 0;
  padding: 0;
  padding-bottom: 14%;
}

// Light themes
.theme-mode--light {
  background-color: $base3;

  .fade-bar {
    background: transparent;
    box-shadow: inset 0 10px 10px rgba($base3, 0.7);
  }
  .scroll {
    // Simple shadow around the calendar to simulate a fading header on scroll
    box-shadow: 0 0 30px $base3;
  }
  .title {
    color: $dark;
  }

  .day {
    // Triangles
    @include linear-gradient(135deg, rgba($base3,0) 0%, rgba($base3,0) 50%,
      rgba($base3,0.3) 50%, rgba($base3,0.3) 100%);
  }
}

// Dark themes
.theme-mode--dark {
  background-color: $base03;

  .fade-bar {
    background: transparent;
    box-shadow: inset 0 10px 10px rgba($base03, 0.7);
  }
  .scroll {
    // Simple shadow around the calendar to simulate a fading header on scroll
    box-shadow: 0 0 30px $base03;
  }
  .title {
    color: $base3;
  }

  .day {
    // Triangles
    @include linear-gradient(135deg, rgba($base03,0) 0%, rgba($base03,0) 50%,
      rgba($base03,0.2) 50%, rgba($base03,0.2) 100%);
  }
}

// An example theme
.theme--example {
  &.theme-mode--light .day {
    background-color: $base2;
  }
  &.theme-mode--dark .day {
    background-color: $base01;
  }
  .close {
    color: $base0 !important;
  }
}

// TODO Temporary color
.dot {
  color: $red !important;
}

// TODO Color palettes
.palette-example0,
.palette-example1,
.palette-example2,
.palette-github {
  .color-1 {
    background: #fafafa;
  }
  .color-2 {
    background: #d6e685;
  }
  .color-3 {
    background: #8cc665;
  }
  .color-4 {
    background: #44a340;
  }
  .color-5 {
    background: #1e6823;
  }
}
