// Override existing variables and add new ones
@import "variables";

// Include all of Ionic
@import "lib/ionic/ionic";

// Include Bourbon, a simple and lightweight mixin library
// Run `gem install bourbon` and `bourbon install`
@import "lib/bourbon/bourbon";

// Custom theme for Ionic
@import "theme";


/* Index view */

#logs {
  .scroll-refresher {
    top: -90px;
    left: 54px;
  }
  .list {
    margin-top: 35px;
  }
  .icon {
    color: $red;
  }
}


/* Show view */

#log {
  .bar {
    top: 40px;
    left: 20px;
    background: transparent;
    border: transparent;
  }
  .bar .title + .button:last-child {
    right: 45px;
  }
  .bar .title {
    font-size: $font-size-small;
  }
  .has-header {
    top: 0;
    padding-top: 120px;
  }
  .scroll-content {
    z-index: 1000;
    pointer-events: none;
  }
  .scroll {
    pointer-events: auto;
  }
}


/* Calendar component */

.day {
  height: 0;
  padding: 0;
  padding-bottom: 14%;
}

.theme-mode--light {
  &, .fade-bar { background-color: $base3; }
  .title { color: $dark; }

  .day {
    @include linear-gradient(135deg, rgba($base3,0) 0%, rgba($base3,0) 50%,
      rgba($base3,0.3) 50%, rgba($base3,0.3) 100%);
  }
}
.theme-mode--dark {
  &, .fade-bar { background-color: $base03; }
  .title { color: $base3; }

  .day {
    @include linear-gradient(135deg, rgba($base03,0) 0%, rgba($base03,0) 50%,
      rgba($base03,0.2) 50%, rgba($base03,0.2) 100%);
  }
}

.theme--example {
  &.theme-mode--light .day {
    background-color: $base2;
  }
  &.theme-mode--dark .day {
    background-color: $base01;
  }
  .close {
    color: $base0 !important;
  }
  .ion-record {
    color: $red;
  }
}
