html, body {
  background: black;
}

body, .ionic-body, .button {
  letter-spacing: -1px;

  // Force lowercase everywhere in the application
  text-transform: lowercase;
}

// An underlay for the status bar
.platform-ios7 .fade-bar {
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  opacity: 0.7;
  background: black;
}

.bar, .list-inset, .item {
  background-color: transparent;
  border: none;
}


/* Custom slide in up animation for modals */

.custom-swap-animation > .ng-enter,
.custom-swap-animation > .ng-leave
{
  -webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.custom-swap-animation:not(.reverse) .ng-leave,
.custom-swap-animation.reverse .ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  opacity: 1;
}
.custom-swap-animation:not(.reverse) .ng-leave.ng-leave-active,
.custom-swap-animation.reverse .ng-enter {
  -webkit-transform: scale(0.5);
  opacity: 0;
}
.custom-swap-animation:not(.reverse) .ng-enter,
.custom-swap-animation.reverse .ng-leave.ng-leave-active {
  -webkit-transform: translateY(150%);
}
.custom-swap-animation:not(.reverse) .ng-enter.ng-enter-active,
.custom-swap-animation.reverse .ng-leave {
  -webkit-transform: translateY(0);
}


/* Custom slide in up animation for modals */

.custom-slide-in-up {
  -webkit-transform: translate3d(0, 100%, 0);
}
.custom-slide-in-up.ng-enter,
.custom-slide-in-up > .ng-enter {
  -webkit-transition: all 400ms ease-out;
}
.custom-slide-in-up.ng-enter-active,
.custom-slide-in-up > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.custom-slide-in-up.ng-leave,
.custom-slide-in-up > .ng-leave {
  -webkit-transition: all 400ms ease-in-out;
}
