html, body {
  background: black;
}

body, .ionic-body, .button {
  letter-spacing: -1px;

  // Force lowercase everywhere in the application
  text-transform: lowercase;
}

// An underlay for the status bar
.platform-ios7 .fade-bar {
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 9000;
  opacity: 0.7;
  background: black;
}

.bar, .list-inset, .item {
  background-color: transparent;
  border: none;
}


/* Action sheets */
.action-sheet {
  margin: 0;
}
.action-sheet-group {
  margin-top: 2px;
  margin-bottom: 0;
  border-radius: 0;

  .button {
    text-transform: uppercase;
    background-color: #fff;
    min-height: 65px;
    letter-spacing: 0;
  }
}


/* Popups */
.popup {
  text-transform: none;
  border-radius: 6px;
}
.popup-title {
  font-family: "Helvetica Neue";
  font-weight: normal;
  letter-spacing: 0;
  padding: 10px 15px;
  font-size: 17px;
}
.popup-buttons.row {
  border-top: 1px solid #ccc;
  padding: 0;

  .button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    letter-spacing: 0;
    text-transform: none;
    border-radius: 0;
    border-bottom: none;
    padding-bottom: 7px;
    margin: 0;

    &:first-child {
      border-left: none;
      border-bottom-left-radius: 6px;
    };
    &:last-child {
      border-right: none;
      border-bottom-right-radius: 6px;
    };
  }
}

.backdrop.visible.active {
  pointer-events: initial;
}
