<!-- Translucid background for the status bar (iOS) -->
<fade-bar></fade-bar>

<!-- Log edit view -->
<div id="edit-log" class="modal log-form">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">change log</h1>
    <button class="button button-clear button-dark button-icon ion-close-circled"
      ng-click="closeEditLog()"></button>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="updateLog(log)">
      <div class="list list-inset">

        <!-- Title -->
        <div class="item item-divider">
          Change the name of the log
        </div>
        <label class="item item-input">
          <i class="icon ion-ios7-circle-outline placeholder-icon"></i>
          <input type="text" ng-model="log.title" autocapitalize="off" autocorrect="off">
        </label>

        <br />

        <!-- Colors -->
        <div class="item item-divider">
          And choose the color theme
        </div>
        <label class="item item-radio" ng-repeat="theme in themes" data-theme="{{theme.id}}">
          <input type="radio" name="group" ng-model="log.themeId" ng-value="theme.id">
          <i class="radio-icon ion-record dot"></i>
          <div class="item-content">
            <div class="row theme">
              <div class="col color {{colorClass}}" ng-repeat="colorClass in theme.colorClasses"></div>
            </div>
          </div>
        </label>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-dark">
          Update
        </button>
      </div>
    </form>
  </ion-content>
</div>
