<!-- Log index view -->
<ion-view id="logs">
  <!-- Translucid background for the status bar (iOS) -->
  <fade-bar></fade-bar>

  <ion-content>
    <ion-refresher on-refresh="newLog()" pulling-text="add new"
      ng-class="logs.length ? 'simple' : 'initial'">
    </ion-refresher>

    <ion-list ng-class="logs.length ? 'has-content' : ''">
      <ion-item ng-repeat="log in logs | orderBy:'position' track by log._id" ng-href="#/app/log/{{log._id}}"
        class="item-icon-left log-item" data-theme="{{log.themeId}}">
          <i class="icon ion-record dot"></i>
          <div class="log-text">{{log.title}}</div>

          <div class="item-options">
            <a class="button button-clear button-positive" ng-click="editLog(log)">
              <i class="icon ion-edit"></i>
            </a>
            <a class="button button-clear button-assertive" ng-click="destroyLog(log)">
              <i class="icon ion-android-trash"></i>
            </a>
          </div>
      </ion-item>
    </ion-list>

    <div ng-if="logs.length == 0" class="blank-slate">
      Pull to begin!
    </div>
  </ion-content>
</ion-view>
