<!-- Log show view -->
<ion-view id="log" class="theme" data-theme="{{log.themeId}}">
  <!-- Translucid background for the status bar (iOS) -->
  <fade-bar></fade-bar>

  <ion-header-bar>
    <div class="button-icon icon ion-record dot"></div>
    <h1 class="title">{{log.title}}</h1>
    <a ng-href="#/app/home" class="button button-icon ion-android-close close"></a>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="row" ng-repeat="rowOfSquares in squares">
      <div class="col day" ng-class="square.color" on-drag="displayCounter" on-drop="hideCounter"
        ng-click="displayCounting(square)" ng-repeat="square in rowOfSquares">
          <span>{{square.dateRef}}</span>
      </div>
    </div>
  </ion-content>

  <div id="counter"></div>
</ion-view>
