<!-- Log show view -->
<ion-view id="log" class="theme" data-theme="{{log.themeId}}">
  <!-- Translucid background for the status bar (iOS) -->
  <fade-bar></fade-bar>

  <ion-header-bar>
    <a href="#" class="button button-icon icon ion-record dot"></a>
    <h1 class="title">{{log.title}}</h1>
    <a href="#/app/home" class="button button-icon ion-android-close close"></a>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="row" ng-repeat="weekNo in weeks">
      <div class="col day {{getColor(date)}}" on-drag="displayCounter"
        on-drop="hideCounter" ng-repeat="date in weekdays(weekNo)">
          <span>{{dateTip(date, weekNo)}}</span>
      </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" ng-if="hasMoreData">
    </ion-infinite-scroll>
  </ion-content>

  <div id="counter"></div>
</ion-view>
